* {
  box-sizing: border-box;
}

body {
  position: absolute;
  text-align: center;
  object-position: 100cm;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: rgb(11, 26, 161);
  background-color: rgb(241, 237, 237);
  background-position: 50%;
}

nav {
  position:absolute;
  transform-box: color;

    top: 20px;
    left: 175%;
    transform: translateX(-50%);
    background: #051b30;
    padding: 1em 2em;
    border-radius: 6px;
    z-index: 400;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    text-align: center;
    min-width: 100px;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: rgb(99, 25, 25);
}

nav a[aria-current='page'] {
  color: rgb(136, 7, 7);
  background-color: #d4d4d4;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
div{
  border-radius: 23px;
background: #3e6551;
box-shadow: inset 20px 20px 20px #284134,
            inset -20px -20px 20px #54896e;
}
.layout{display:flow-root inline-flexbox;
  gap: 4px;
  grid-template-rows: 40px 40px auto 65px 60px 40px;
  grid-template-columns: lfr;
  grid-template-areas: 
  'header''sidebar''main''widget''statistics''footer';
  height: 1ch;
  
}
@media (min-width: 480px){
.layout{
  display: grid;
  grid-template-rows: 40px auto 80px 40px;
  grid-template-columns: 160px auto auto;
  grid-area: 
  'header header header'
  'sidebar main main'
  'sidebar widget statistics'
  'footer footer footer';
    }
}
header{
  display: flex;
  grid-area: header;
  background: #395192;
}
footer{
  grid-area: footer;
  background:#3c658b;
}
nav{
  border-radius: 23px;
background: #3e6551;
box-shadow: inset 20px 20px 20px #284134,
            inset -20px -20px 20px #54896e;
}
main{background-position: 50%;
  grid-area:main;
  background: rgb(181, 185, 196);
}
.widget{
  animation-duration: 50ms;
  grid-area: widget;
  background: #051b30;
  width: 100%;
}
ul{
  display: flex grid inline-block;
  appearance: 10px 50ms;
  flex-direction: row-reverse row-reverse 100px;
  color: #030d16;
}
svg{size: 100mm;
  text-decoration: underline;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: infinite alternate-reverse;
  animation-fill-mode: both;
  zoom: 200%;
  contain: style layout style 20mm;
  rotate: 150px;
  ruby-position: right 10cm before before;
background-color: rgb(50, 114, 114);}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.card {
  width: 190px;
  height: 254px;
  background: #07182E;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card h2 {
  z-index: 1;
  color: white;
  font-size: 2em;
}

.card::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(35, 22, 219), rgb(255, 48, 255));
  height: 130%;
  animation: rotBGimg 0.9s linear infinite;
  transition:cubic-bezier(1px ) all 0.9s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: #07182E;
  ;
  inset: 5px;
  border-radius: 15px;
}  
/* .card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */

